---
---

@import "minima";

body {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto;
  background-color: #fafafa;
  color: #111;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: 600;
  color: #000;
}

a {
  color: #007aff;
}
